:root {
    --main-bg-color: #1c1c22;
    --main-color: #ffffff;
    --item-bg-color: #141414;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    text-align: center;
}

hr {
    background-color: var(--main-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .7);
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: var(--main-color);
}

.bootstrap-select .dropdown-item {
    color: var(--main-color);
}

.bootstrap-select .dropdown-item:hover {
    background-color: #323232;
    color: var(--main-color);
}

.bootstrap-select .dropdown-menu {
    background-color: var(--item-bg-color);
}

.bootstrap-select .btn,
.bootstrap-select .btn:hover,
.show > .btn-light.dropdown-toggle {
    background-color: #141414;
    border: none;
    color: var(--main-color);
    font-weight: 400;
    padding: 12px 12px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.form-control,
.form-control:focus,
.bootstrap-select .no-results {
    background-color: var(--item-bg-color);
    color: var(--main-color);
}

.dropdown-header {
    color: var(--main-color);
}

.dropdown-divider {
    border-top: 1px solid #aaaaaa;
}

:not(.input-group) > .bootstrap-select.form-control:not([class*="col-"]) {
    height: 100%;
}

@keyframes border-pulse {
    0% {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
    }
    50% {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
    100% {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
    }
}

.main-select-ship .bootstrap-select .btn {
    animation: border-pulse 3s infinite;
}

.main-select-ship .show > .btn-light.dropdown-toggle {
    animation-play-state: paused;
}

.main-select-ship {
    height: fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
}

.ship-select .bootstrap-select .btn,
.ship-select .bootstrap-select .btn:hover,
.ship-select .show > .btn-light.dropdown-toggle,
.main-select-ship .bootstrap-select .btn,
.main-select-ship .bootstrap-select .btn:hover,
.main-select-ship .show > .btn-light.dropdown-toggle {
    font-weight: 400;
    padding: 0;
    font-size: 2rem;
    width: 280px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    border-radius: 0;
}

.item-field .bootstrap-select .dropdown-toggle .filter-option,
.drone-design .bootstrap-select .dropdown-toggle .filter-option,
.drone-lvl .bootstrap-select .dropdown-toggle .filter-option,
.ores .bootstrap-select .dropdown-toggle .filter-option,
.ship-select .bootstrap-select .dropdown-toggle .filter-option,
.main-select-ship .bootstrap-select .dropdown-toggle .filter-option {
    text-align: center;
}

.item-field .bootstrap-select > .dropdown-toggle::after,
.drone-design .bootstrap-select > .dropdown-toggle::after,
.drone-lvl .bootstrap-select > .dropdown-toggle::after,
.ores .bootstrap-select > .dropdown-toggle::after,
.skill .bootstrap-select > .dropdown-toggle::after,
.ship-select .bootstrap-select > .dropdown-toggle::after,
.main-select-ship .bootstrap-select > .dropdown-toggle::after {
    display: none;
}

.main-select-ship .dropdown-header,
.ship-select .dropdown-header {
    color: #aaaaaa;
}

.ship-select {
    margin-top: 30px;
    vertical-align: top;
}

.ship-select .bootstrap-select .btn:hover {
    border-bottom: 1px solid white;
}

.stat-sector {
    display: inline-block;
    font-weight: 200;
    padding: 10px;
    font-size: 1.5rem;
}

/*.stat-container {*/
/*    position: -webkit-sticky;*/
/*    position: sticky;*/
/*    top: 0;*/
/*    z-index: 1000;*/
/*    background-color: var(--main-bg-color);*/
/*}*/

.modules,
.boosts,
.drone-formations,
.ores,
.other,
.skill-tree {
    padding: 10px;
    margin: 5px;
    text-align: center;
    width: 260px;
}

.item-field .bootstrap-select .dropdown-toggle .filter-option-inner,
.ores .bootstrap-select .dropdown-toggle .filter-option-inner {
    padding-right: 0;
}

.ore {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
}

.item-field .bootstrap-select .btn,
.ore .bootstrap-select .btn {
    height: 100%;
}

.checkmark-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-color);
}

.checkmark-label:hover input ~ .checkmark {
    background-color: var(--main-bg-color);
}

.checkmark-label input:checked ~ .checkmark {
    background-color: var(--main-bg-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark-label input:checked ~ .checkmark:after {
    display: block;
}

.checkmark-label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--main-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.items {
    max-width: 930px;
}

.sector {
    padding-bottom: 10px;
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.item-field {
    position: relative;
    width: 70px;
    height: 70px;
    border: 2px solid grey;
    padding: 3px;
    display: inline-block;
    margin: 3px;
    background-color: var(--item-bg-color);
    text-align: left;
}

.items .bootstrap-select .btn,
.items .bootstrap-select .btn:hover,
.items .show > .btn-light.dropdown-toggle {
    font-weight: 100;
    padding: 9px 0 5px 0;
    font-size: 0.75rem;
    text-align: center;
    border-radius: 0;
}

#field-ship-laser-id,
#field-ship-generator-id,
#field-drone-id,
#field-drone-slot-id-0,
#field-drone-slot-id-1 {
    border: 2px solid #dddddd;
}

.item-upgrade {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 3px;
    right: 3px;
}

.item-upgrade .bootstrap-select .btn,
.item-upgrade .bootstrap-select .btn:hover,
.item-upgrade .show > .btn-light.dropdown-toggle {
    padding: 10px 0 0 10px;
    text-align: right;
    background-color: transparent;
}

.drone {
    display: inline-block;
    border: 2px solid grey;
    background-color: var(--item-bg-color);
    padding: 2px;
    margin: 5px;
    text-align: left;
}

.drone-design {
    display: block;
    width: 150px;
    height: 35px;
    margin: auto;

}

.drone-lvl {
    width: 75px;
    display: inline-block;
    height: 35px;
}

.skill {
    display: inline-block;
    position: relative;
    width: fit-content;
    height: fit-content;
    text-align: left;
}

.skill .frame-skill {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.skill:hover .frame-skill {
    display: inline;
}

.skill img.disabled {
    opacity: 0.5;
}

.skill-amount {
    position: absolute;
    left: 30px;
    bottom: 2px;
    font-size: 0.7rem;
}

#accordion {
    width: 260px;
    font-weight: 100;
    font-size: 1rem;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}

#accordion .card {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    border: 0;
}

#accordion .card-header {
    padding: 1px;
    background-color: var(--main-bg-color);
}

#accordion .card-header a {
    color: var(--main-color);
}

#accordion .card-body {
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    text-align: left;
}

#accordion .card-body span span {
    text-align: right;
    float: right;
}

.statistics-details {
    padding: 10px;
    margin: 5px;
}